
.main{
    text-align: center;
}
.search{
    text-align: center;

    
}

.content{
margin-bottom:30px;
margin-top:50px;
display:flex;
justify-content: space-around;

}


h1{
    margin-top:100px;
    margin-bottom: 60px;
    font-size:5.4em;
    font-family: 'Amatic SC', cursive;
}

h2{
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
}
#addButton{
 border:#3ABA14 solid 3px;
    height:35px;
    width:100px;
    font-size: 1em;
    font-family: 'Julius Sans One', sans-serif;
  
     
}

#doneButton, #deleteButton{
    font-family: 'Julius Sans One', sans-serif;
  border:#FF4E2B solid 2px;
    height:35px;
    width:100%;
    font-size: 1em;
    margin-bottom:8px;
     -webkit-animation: fadein 1s ease 0s forwards;
   animation: fadein 1s ease 0s forwards;
   animation-fill-mode: both !important;
   visibility: visible !important;
    

}
#deleteAllButton{
    font-family: 'Julius Sans One', sans-serif;
  border:#FF4E2B solid 2px;
    height:35px;
    width:15%;
    font-size: 1em;
    margin-bottom:8px;
    

}


#input{
    width:300px;
    height:30px;
    font-size: 0.9em;
}

ul{

    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
    text-decoration: none;

}

#items{
    font-family: 'Julius Sans One', sans-serif;
    padding:10px;
    margin-bottom:10px;
    font-size: 1.2em;
     text-align:center;
    list-style: none; 
    background-color:#2B2B2B;
    border-radius: 5%;
    color:whitesmoke;
    -webkit-animation: fadein 1s ease 0s forwards;
   animation: fadein 1s ease 0s forwards;
   animation-fill-mode: both !important;
   visibility: visible !important;
  
    
    }
@-webkit-keyframes fadein
{
   0%
   {
       opacity: 0;
   }
   100%
   {
       opacity: 1;
   }
}
@keyframes fadein
{
   0%
   {
       opacity: 0;
   }
   100%
   {
       opacity: 1;
   }
}

